@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

.content {
  padding-top: 10rem;
}

.bg-tito-color {
  background-color: #1c2c4c;
}

.bg-tito-color2 {
  background-color: #21458d;
}

.links a {
  text-decoration: none;
  position: relative;
  padding-bottom: 1px;
}

.links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: blue;
  transition: width 0.3s ease;
}

.imagem-clara {
  filter: brightness(150%) contrast(120%);
}

.popup {
  height: 260px;
  width: 280px;
  display: none;
  position: absolute;
  right: 120px;
  top: 80px;
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 10px;
  z-index: 100;
}

#hoverItem:hover + #popup {
  display: block;
}

.links a:hover::before {
  width: 100%;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #363636;
}

h2 {
  font-size: 27px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #363636;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  position: relative; /* Alterado de absolute para relative */
  width: 100%;
  color: white;
  text-align: center;
  margin-top: auto; /* Adicionado para garantir que o rodapé permaneça no final da página */
}

.awssld__content {
  background-color: white;
}

.card .cardBtn {
  width: 60px; /* Defina o valor inicial para zero */
  transition: width 0.3s; /* Aplicar transição */
}

.card .cardLine {
  width: 60px; /* Defina o valor inicial para zero */
  transition: width 0.3s; /* Aplicar transição */
}

.card {
  overflow: hidden;
}

.card .cardPhoto {
  transform: scale(1); /* Defina o valor inicial para a escala normal */
  transition: transform 0.3s; /* Aplicar transição */
}

.card:hover .cardBtn {
  width: 20%;
}

.card:hover .cardLine {
  width: 120px;
}

.card:hover .cardPhoto {
  transform: scale(1.03);
}

/* CSS */

/* FlyingPlane.css */
.plane-container {
  position: relative;
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: 100px; /* Ajuste o tamanho conforme necessário */
}

.plane-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg); /* Inicialmente o avião está apontando para cima */
  color: #007bff; /* Cor do avião */
  font-size: 3rem; /* Tamanho do ícone do avião */
  animation: fly-in-circles 20s linear infinite; /* Animação de voar em círculos */
}

@keyframes fly-in-circles {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg); /* O avião está na parte superior do círculo */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px)
      rotate(-360deg); /* O avião completa um círculo */
  }
}
